DB_HOST="ip.address.or.host"
DB_PORT=5432
DB_USER="usually_postgres"
DB_NAME="db_name_like_lens_bigquery"
DB_PASSWORD="db_password"

REMOTE_DB_HOST="ip.address.or.host"
REMOTE_DB_PORT=9541

TBL_CHANNEL_FIDS='DANGER_deletemefordefault_or_changeme'

PERSONAL_IGRAPH_INPUT='PATH_TO_IG_PKL'
PERSONAL_IGRAPH_URL='CHANGE_THIS_URL'

IS_TEST='false'

AIRFLOW_UID=0
AIRFLOW_GID=0
AIRFLOW__CORE__FERNET_KEY='changeme'

SSH_KEY_PATH="changeme"
DUNE_API_KEY="changeme"

# Safe Defaults
POSTGRES_TIMEOUT_SECS=60

GO_EIGENTRUST_URL='http://localhost:8080'
GO_EIGENTRUST_TIMEOUT_MS=600000
GO_EIGENTRUST_BIND_SRC='/tmp'
GO_EIGENTRUST_BIND_TARGET='/tmp'
GO_EIGENTRUST_FILE_MODE='false'
EIGENTRUST_ALPHA=0.5
EIGENTRUST_EPSILON=1.0
EIGENTRUST_MAX_ITER=50
EIGENTRUST_FLAT_TAIL=2

FRAMES_NAP_SECS=10
FRAMES_SLEEP_SECS=300
FRAMES_BATCH_SIZE=1000
FRAMES_SCRAPE_CONCURRENCY=10
FRAMES_SCRAPE_CONNECT_TIMEOUT_SECS=5
FRAMES_SCRAPE_READ_TIMEOUT_SECS=10

CASTS_SLEEP_SECS=10
CASTS_BATCH_LIMIT=100000

WARPCAST_CHANNELS_TIMEOUT_SECS=5
CHANNEL_SLEEP_SECS=1


LOG_LEVEL='INFO'
LOG_FORMAT='[%(asctime)s - %(levelname)s - %(filename)s:%(lineno)s - %(funcName)s ] %(message)s'
LOGURU_FORMAT='<green>{time:YYYY-MM-DD HH:mm:ss}</green> | {module}:{file}:{function}:{line} | {level} | <level>{message}</level>'
LOG_PATH='/tmp/'

SUPABASE_URL=fillme
SUPABASE_SERVICE_ROLE_KEY=fillme