pandas==2.1.3
python-dotenv==1.0.0
igraph==0.11.3
psutil==5.9.8
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
sqlalchemy==2.0.28
requests==2.31.0
loguru==0.7.2
timeloop-ng==1.0.0
beautifulsoup4==4.12.3
aiohttp==3.9.3