certifi==2025.6.15
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
diff-cover==9.3.2
docutils==0.21.2
flit==3.12.0
flit_core==3.12.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pip==25.3
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.1
pytest==8.4.1
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.5
ruff==0.12.2
sqlfluff==3.4.1
tblib==3.1.0
tomli-w==1.2.0
tqdm==4.67.1
urllib3==2.5.0
